{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello! ✅</h1>

    id :  {{ medecin.id  }} <br>
    nom : {{ medecin.nom }} <br>
    ville : {{ medecin.ville }}<br>

    <a href="{{ path('avis_index') }}"> Voir les commentaires sur ce Medecin </a> <br>

    <a href="{{ path('avis_new') }}">Donner votre avis sur ce Medecin</a> <br>

    <a href="{{ path('medecin_index') }}">Retour à l'accueil </a> <br>



</div>
{% endblock %}
